
body {
  width: 95%;
  background: #FFF;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0 auto;
}
img {
  overflow: hidden;
}
/* Logomarca */
#logo {
  background: url(imagens/fundo.png) repeat left;
  width: 100%;
  height: 233px;
}
.logo1 {
  width: 10%;
  height: 100px;
  background: url(imagens/logo.png) no-repeat left;
  clear: both;
  margin-left: 720px;
  position: absolute;
  
}
.logo2 {
  background: url(imagens/detalhe-topo.png) no-repeat right;
  width: 10%;
  height: 200px;
  float: right;
  margin-left: 1300px;
  clear: both;
  position: absolute;
}
/* Menu */
#menu ul {
  list-style: none;
  height: 20px;
  width: 100%;
  text-align: center;
  padding-top: 120px;
}
#menu ul li {
  width: 20px;
  height: 80px;
  display: inline;
  padding: 10px;
  background-color: #aa4431;
}
#menu li a {
  text-decoration: none;
  color: #FFF;
  
}
#menu ul li:hover {
  background-color: rgb(248, 165, 165);
  color: #FFF;
}
#tudo {
  width: 80%;
  margin: auto;
  height: 1000px;
}
/* Entrevista */
#areaesquerda {
  float: left;
  width: 20%;
  padding: 0;
  
}
#lateral {
  width: 150px;
  height: 600px;
  padding: 20px;
}
#lateral h3 {
  background-color: #225992;
  color: #FFF;
  color: #FFF;
  width: 200px;
  padding: 5px 5px;
}
#linksentrevistas {
  list-style: none;
  padding: 0;
  line-height: 40px
}
#linksentrevistas li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
#linksentrevistas li a:hover {
  color: #aa4431;
}
.label {
  display: block;
  cursor: pointer;
  font-weight: 600;
}
.label:hover {
  color: #aa4431;
}
.cadastrar {
  background-color: #b64444;
  margin-top: 5px ;
  padding: 5px 20px;
  height: 30px;
  font-size: 15px;
  color: #FFF;
  border: 10px;
}
/* Conteudo */
#areaconteudo {
  float: right;
  width: 75%; 
}
.meio {
  width: 300px;
  height: 900px;
  padding: 0 10px;
  float: left;
}
.meio h3 {
  background-color: #225992;
  color: #FFF;
  color: #FFF;
  width: 300px;
  padding: 5px 5px;
}
h4 {
  background-color: #b64444;
  color: #FFF;
  width: 215px;
  padding: 5px 5px;
}
.leiamais a {
  text-decoration: none;
  color: #225992;
  padding: 0 10px;
}
.leiamais a:hover {
  color: #aa4431;
}
.texto {
  width: 300px;
  padding: 0 5px;
  font-weight: 700;
}
.fotomundo {
  float: left;
  padding: 0 10px;
}
.linkfoto a {
  text-decoration: none;
  color: #105069;
  font-size: 13px;
  padding: 0 5PX;
}
.linkfoto a:hover {
  color: #aa4431;
}
.texto2 {
  font-size: 14px;
  padding: 0 5PX;
}
.conteudodireito {
  float: right;
  width: 300px;
  height: 900px;
  padding: 0 10px;
  margin-right: 400px;
}
.conteudodireito h3 {
  background-color: #225992;
  color: #FFF;
  color: #FFF;
  width: 300px;
  padding: 5px 5px;
}
/* Rodapé */
#arearodape {
  clear: both;
  background-color: #225992;
  color: #FFF;
  text-align: left;
  font-weight: 700;
  padding: 20px 100px;
  height: 30px;
  width: 100%;
  position: relative;
  margin-top: 50px;
}
